# Ignore node_modules directory
node_modules

# Ignore build output
dist
tmp

# Ignore environment files
src/environments/*.ts

# Ignore Dockerfile and docker-compose.yml
Dockerfile
docker-compose.yml

# Ignore IDE specific files
.vscode

# Ignore log files
*.log

# Ignore coverage directory
coverage

# Ignore any other files you want to exclude from the Docker image
*.md
*.spec.ts
*.css
*.html